/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2018, 1:41:15 AM
    Author     : ikerlb
*/

.ui-inputfield { box-shadow: none !important; }

.ui-icon-check{
    background:black;
}

.ui-chkbox{
    height:12px;
    width:12px;
}

.ui-chkbox-box{
    height:12px;
    width:12px; 
    background:white;
    border-style:solid;
}

.ui-selectcheckboxmenu-items-wrapper{
    max-height: 250px;
    overflow-y: scroll;
}

.ui-widget-header{
    display:none;
}

.ui-selectcheckboxmenu-item{
    margin:2;
}

.categorias-item{
    margin:0;

}

.ui-selectcheckboxmenu-checked{
    background:lightblue;
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active{
    background:black;
}

.categorias-selector{

}




