/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2018, 1:41:15 AM
    Author     : ikerlb
*/

.ui-inputfield { box-shadow: none !important; }

.ui-icon-check{
    background:black;
}

.ui-chkbox{
    height:12px;
    width:12px;
}

.ui-chkbox-box{
    height:12px;
    width:12px; 
    background:white;
    border-style:solid;
}

.ui-selectcheckboxmenu-items-wrapper{
    max-height: 250px;
    overflow-y: scroll;
}

.ui-widget-header{
    display:none;
}

.ui-selectcheckboxmenu-item{
    margin:2;
}

.categorias-item{
    margin:0;

}

.ui-selectcheckboxmenu-checked{
    background:lightblue;
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active{
    background:black;
}

.categorias-selector{

}

.fileUpload{
    width:50px;
    height:10px;
    display:inline;
}

/* hide the icons in the file upload button bar */
.ui-fileupload-buttonbar .ui-icon {
    display: none;
}

/* adjust the padding of all buttons inside the file upload button bar */
.ui-fileupload-buttonbar .ui-button-text-icon-left .ui-button-text {
    font-size: 0.8em;
    padding: 0 0.2em;
}

/* unstyle the file upload button bar background */
.ui-fileupload-buttonbar.ui-widget-header {
    background-color: transparent;
    border: 0 none;
}

/* increase fileupload button spacing between 'choose' and 'upload' */
.ui-fileupload-buttonbar .ui-fileupload-choose {
    margin-right: 10em;
}

/* remove the border of file upload content list */
.ui-fileupload-content {
    border: 0 none;
}

.ui-fileupload-buttonbar.ui-widget-header.ui-corner-top{
    display:inline;
}

